@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui" {
  themes: all;
}
/* Hide scrollbar but keep scrolling */
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

.overflow-y-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
